# PyCharm specific
.idea/

# VSCode specific
.vscode/

# History
.history/

# Frontend node packages
node_modules/
test_resources/
.DS_Store

# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app/coverage

# next.js
app/.next/
app/out/

# production
app/build

# misc
app/.DS_Store
frontend/*.pem

# debug
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# vercel
app/.vercel

app/.env